@page
@model IntroducionRazor.Pages.CondicionalesModel
@{
    ViewData["Title"] = "Condicionales";
}

@{
    var calificacion = 7;
}

<h3>Instrucciones Condicionales</h3>
<p>Tu calificación es de: @calificacion</p>

@if(calificacion >= 7)
{
    <p>Felicidades, has aprobado la materia</p>
}
else
{
    <p>Lo siento, has reprobado la materia</p>
}
<br />

<h3>Instrucciones Else-if</h3>
@{
    var precio = 100;
}

<p>El precio actual del producto es: @precio</p>
@if(precio >= 30)
{
    <p>El precio es alto</p>
}
else if(precio > 20 && precio < 30)
{
    <p>El precio es normal.</p>
}
else
{
    <p>El precio es bajo.</p>
}
<br />

<h3>Condicionales Múltiples</h3>
@{
    var diaSemana = DateTime.Now.DayOfWeek;
    var dia = diaSemana.ToString();
    var mnsj = "";
}

@switch(dia)
{
    case "Monday":
        mnsj = "Hoy es Lunes";
        break;
    case "Tuesday":
        mnsj = "Hoy es Martes";
        break;
    case "Wednesday":
        mnsj = "Hoy es Miércoles";
        break;
    case "Thursday":
        mnsj = "Hoy es Jueves";
        break;
    case "Friday":
        mnsj = "Hoy es Viernes";
        break;
    case "Saturday":
        mnsj = "Hoy es Sábado";
        break;
    case "Sunday":
        mnsj = "Hoy es Domingo";
        break;
    default:
        mnsj = "No se ha encontrado el día";
        break;
}

<p>@mnsj</p>
<br />