@page
@model IntroducionRazor.Pages.HolaMundoRazorModel
@{
    ViewData["Title"] = "Hola Mundo desde Razor";
}

@{
    var nombre = "Pedro";
}

<div class="text-center">
     <h1>Bienvenido: @nombre</h1>
</div>
